@import '../../../styles/mixins';

.homeCarousel {
    &__item {
        @include paddingBottomByPercent(500, 1921);
        position: relative;

        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            object-position: center;
        }
    }
}