.footer {
    margin-top: 32px;
    padding: 32px 0;
    background: url('../../assets/images/bg-footer.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__item {
        &__title {
            color: #007EB1;
            height: 50px;
            margin-bottom: 16px;
        }
    }
}